.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
  /* background: orange; */
}

@media (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media (min-width: 772px) {
  .container {
    max-width: 772px;
    padding: 0 32px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 16px;
  }
}
