.wrapper {
  display: flex;
  gap: 3px;
  padding: 0;
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9;
}

.item,
.active {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-align: center;
  height: 53px;
}

.item {
  color: #000;
  background: #f5f6fb;
}

.active {
  color: #fff;
  background: var(--brand-color);
}

/* responsive view */
@media (min-width: 772px) {
  .wrapper {
    gap: 0;
    position: relative;
  }

  .item,
  .active {
    height: 40px;
    width: 138px;
    border-radius: 16px 16px 0 0;
    cursor: pointer;
  }

  .item {
    background: #f7f7f7;
    color: #000;
  }

  .active {
    background: #f9f9f9;
    color: var(--brand-color);
  }
}
