* {
  box-sizing: border-box;
}

.arrow {
  width: 24px;
  height: 24px;
  fill: #ff751d;
  cursor: pointer;
  transition: transform 0.2s;
}

.arrow:hover {
  transform: scale(1.5);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.inputWrapper {
  position: relative;
  background-color: transparent;
  width: 100%;
  border-bottom: 2px solid #ffffff;
  padding: 14px;
}

.selectWrapper {
  padding: 14px;
}

.bothWrapper {
  width: 280px;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 22px 22px 22px 0;
  margin-bottom: 44px;
}

.input {
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.02em;
  background-color: transparent;
  width: 100%;
  border: 0;
}

select {
  color: #c7ccdc;
}

.label {
  color: #c7ccdc;
  pointer-events: none;
  transition: all 0.2s;
  position: absolute;
  left: 17px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.02em;
}

.inputWrapper:focus-within .label {
  top: 1px;
  left: 13px;
  font-size: 9px;
}

option:checked {
  color: #000;
  background-color: #f5f6fb;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #1d2e4a;
}

.currency {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.02em;
  position: absolute;
  right: 18px;
}

.sumInput {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.02em;
  border: 0;
  text-align: right;
  width: 100px;
  background-color: transparent;
  color: #000;
}

.sumInput::-webkit-outer-spin-button,
.sumInput::-webkit-inner-spin-button {
  margin-left: 30px;
}

.flexWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 22px;
  border: 2px solid #ffffff;
  width: 183px;
  height: 44px;
}

.sumWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: 100%;
  width: 50%;
  border-width: 0 1px 0 0;
  border-right: 1px solid #ffffff;
}

.iconWrapper {
  display: flex;
}

.buttons {
  margin-top: 100px;
  display: flex;
  gap: 15px;
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.02em;
  width: 130px;
  height: 44px;
  background: #f5f6fb;
  border: none;
  border-radius: 16px;
  box-shadow: 1px 2px 5px 0px #aab2c566;
  transition: transform 0.2s;
}

.btn:first-of-type {
  color: #fff;
  background: #ff751d;
}

.btn:hover {
  transform: scale(1.2);
}
