@import "../../styles/Styles.css";
.container {
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: var(--container-mobile);
}
.bg{
  background-color: #F5F6FB;
  height: 275px;
  width: 100vw;
  position: absolute;
  z-index: -1;
  border-bottom-left-radius: 120px;
}
.switchedBackground {
  background-color: white;
 }

 @media screen and (min-width: 768px) and (max-width: 1279px) {
  .bg{
    height: 503px;
  }
 .container {
  padding: var(--container-report-tablet);
 }
 
  }
  @media screen and (min-width: 1280px) {
   .container {
    padding: var(--container-report-desktop);
   } 
  }