@import "../../styles/Styles.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: var(--container-mobile);
}

.period {
  display: flex;
  flex-direction: column;
}