.container {
  position: relative; /* Change position to relative */
  visibility: visible;
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: transparent; /* Make background transparent */
  z-index: 100; /* Set z-index to a value higher than the Background component */
}


.logo_mainpage {
  position: relative;
  left: 15%;
  margin-top: 15%;
}

.google_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: #858e97;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.google_btn img {
  width: 20px;
  margin-right: 10px;
}

.form_container {
  position: absolute;
  top: 30%;
  left: 60%;
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(255, 255, 255);
  height: max-content;
  padding: 20px 40px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 11px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 11px 0px rgba(66, 68, 90, 1);
}

.label {
  font-weight: bold;
}

.input {
  display: flex;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: #f6f7fb;
}
.button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #858e97;
  color: white;
  cursor: pointer;
  border-radius: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .container {
    margin: auto;
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo_mainpage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* left: 15%;
    margin-top: 5%;  */
  }

  .form_container {
    position: relative; /* Zmiana na relative */
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0; 
    left: 0; 
    width: 90%; /* 90% szerokości ekranu */
    margin: auto; /* Wyśrodkowanie */
    padding: 20px; /* Mniejszy padding */
  }
}

@media (max-width: 320px) {
  .container {
    margin: auto;
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo_mainpage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* left: 15%;
    margin-top: 5%;  */
  }

  .form_container {
    position: relative; /* Zmiana na relative */
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0; 
    left: 0; 
    width: 90%; /* 90% szerokości ekranu */
    margin: auto; /* Wyśrodkowanie */
    padding: 20px; /* Mniejszy padding */
  }
}

