.listOfExpenses {
  display: flex;
  align-items: baseline;
  margin: 32px auto auto;
  width: 134px;
  justify-content: space-between;
}

.listOfExpenses_header{
  color: var(--primary-color);
  margin: 0;
}

.vectorLeft{
  fill: none;
  stroke-width: 2px;
  stroke:#ff751d;
}
.vectorRight{
  fill: none;
  stroke-width: 2px;
  stroke: #ff751d;
}

.switchedBackground {
  background-color: white;
 }