@media (max-width: 771px) {
  .table {
    display: none;
  }
}

.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 16px 16px 0 0;
  border: 2px solid #f5f6fb;
}

.tHead {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-align: left;
  background: #f5f6fb;
  border-radius: 14px 14px 0 0;
  /* padding-right: 7px; */
}

tr {
  height: 40px;
}

.tbodyScroll {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  letter-spacing: 0.04em;
  text-align: left;
  height: 350px;
  display: block;
  width: 100%;
  overflow: auto;
}

thead,
tbody,
tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.btnDelete {
  background: none;
  border: none;
  cursor: pointer;
}

.btnDelete:hover .icon {
  fill: var(--brand-color);
}

.icon {
  width: 18px;
  height: 18px;
}

.date {
  width: 20%;
}

.description {
  width: 30%;
}

.category {
  text-align: center;
  width: 20%;
}

.sum,
.sumIncome,
.sumExpenses {
  text-align: right;
  width: 20%;
}

.sumIncome {
  font-weight: 700;
  color: #407946;
}

.sumExpenses {
  font-weight: 700;
  color: #e7192e;
}

.btn {
  text-align: center;
  padding: 0;
  width: 10%;
}

th,
td {
  padding: 0 20px;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(158, 157, 157);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--brand-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d25a10;
  cursor: pointer;
}
